<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <section class="sidebar">
    <h2>Blogify</h2>
    <br>
    <a href="/create">My Posts</a>
    <br>
    <a href="/create">All Posts</a>
   </section>
   <main>
    <header></header>
    <section class="content"></section>
   </main>
</body>
</html>