* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'PoppinsBlack';
    src: url(Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Regular.ttf);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;  
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
}

h1 {
    font-family:'PoppinsBlack';
}

main {
height:100vh;
padding-top: 10px;
padding-right: 1rem;
width: 100%;
}

.sidebar {
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 13rem;
    padding-top: 20px;
    overflow: hidden;
  
}


.page {
    text-decoration: none;
    color: rgb(136, 136, 136);
    margin-top: 10px;
    padding:8px 0.7rem;
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
}

.page:hover {
    background-color: #f4f4f4;
}

.head {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.headIcon {
    width: 30px;
    fill: blueviolet;
}

.active {
    background:linear-gradient(135deg, rgb(113, 183, 230), rgb(155, 89, 182));
    color: white;
}


.active:hover {
    background-color: rgba(137, 43, 226, 0.836);
    color: white;
}

.miniIcon {
    width: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

button {
    background: linear-gradient(135deg, rgb(113, 183, 230), rgb(155, 89, 182));
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}


button svg {
    fill: white;
}

.search {
    width: 16rem;
    padding: 0.5rem 0.8rem;
    min-height: 35px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    animation-name: search;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    /* margin-top: -3rem; */
}

.searchForm {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}


.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height:88vh;
    overflow-y: scroll;
}

.postTitle::-webkit-scrollbar, .postContent::-webkit-scrollbar,.content::-webkit-scrollbar {
    width: 8px;
}

.postTitle::-webkit-scrollbar-thumb, .postContent::-webkit-scrollbar-thumb,.content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 20px;
    width: 10px;
}

.post {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding:20px;
    border-radius: 15px;
    background-color: #ffffff;
    position: relative;
    animation-name: post;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    max-height: 16rem;
    position: relative;
    overflow-x: hidden;
}

.columnpost {
    animation-name: post;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.postImg {
    height: 12rem;
    border-radius: 10px;
}

.postFooter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
}

.postTitle {
    font-size:1.6rem;
    font-weight: 700;
    height: 65%;
    overflow-y: scroll;
}

.postContent {
    height: 60%;
    overflow-y: scroll;
}

.postAction {
    display: flex;
    gap: 0.5rem;
    bottom:22px;
    right: 22px;
}

.postAction button {
    height:40px;
    padding: 0 10px;
}

.hamMenu, .cancel{
    display: none;
}


/* animation */

@keyframes post {
    from {
        margin-top: 10rem;
    }
    to {
        margin-top: 0;
    }
}

@keyframes search {
    from {
margin-top: -3rem;
    }
    to {
        margin-top: 0rem;
    }
}

@media (max-width:576px) {
    .postImg {
        width: 10rem;
        height: auto;
    }
    .post {
        padding: 10px;
        gap: 1rem;
    }

    .sidebar {
      position: absolute;
      z-index: 900;
      transition: 0.2s;
      width: 0;
      padding: 0;
    }
 

    .hamMenu, .cancel {
        position: relative;
        display: block;
    }
 
    main, .mainProfile, .body  {
        padding-left: 1rem;
    }
}